<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="./logs.log" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.springframework.transaction" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
    <!-- Ejemplo de configuración Logback -->
    <configuration>
        <!-- ... otras configuraciones ... -->
        <logger name="com.sd.sistemasd.service.empleado.EmpleadoServiceImpl" level="info"/>
        <!-- ... otras configuraciones ... -->
    </configuration>
    <logger name="org.springframework.cache" level="DEBUG"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <Root level="debug">
        <AppenderRef ref="Console"/>
    </Root>
    <root level="WARN">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

